.background-section {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, blue 0%, #903b12 100%),
                          #000080,
                          #d86e3a,
                          radial-gradient(center 50% 50%, radius 100%, blue, #000080);
    -fx-background-radius: 0;
}

.btn-exit {
    -fx-background-color: linear-gradient(blue, black),
                          linear-gradient(blue, darkBlue),
                          linear-gradient(orange, #ffc266);
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: blue;
    -fx-border-color: orange;
    -fx-border-width: 0;
    -fx-width: 250;
}

.btn-exit:focused {
    -fx-background-color: linear-gradient(blue, black),
                          linear-gradient(blue, darkBlue),
                          linear-gradient(orange, #ffc266);
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 29px;
    -fx-text-fill: blue;
    -fx-border-color: orange;
    -fx-border-width: 0;
    -fx-width: 250;
}

.btn-offer {
    -fx-background-color: linear-gradient(darkBlue, blue),
                          linear-gradient(blue, blue),
                          linear-gradient(orange, #ffc266);
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-text-fill: blue;
}

.btn-offer:focused {
    -fx-background-color: linear-gradient(darkBlue, blue),
                          linear-gradient(blue, blue),
                          linear-gradient(#ffc266, #ffc266);
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-font-size: 44px;
    -fx-text-fill: blue;
}

.btn-viewRide {
    -fx-background-color: linear-gradient(darkBlue, blue),
                          linear-gradient(blue, blue),
                          linear-gradient(#ffc266, orange);
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-text-fill: blue;
}

.btn-viewRide:focused {
    -fx-background-color: linear-gradient(darkBlue, blue),
                          linear-gradient(blue, blue),
                          linear-gradient(#ffc266, orange);
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-font-size: 44px;
    -fx-text-fill: blue;
}

.btn-login {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.btn-login:focused {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: white;
}